In [1]:
import pandas as pd
import numpy as np
import os
import yfinance as yf
import itertools
import warnings
import functions as func
import matplotlib.pyplot as plt
from pmdarima.arima import auto_arima
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.stattools import adfuller
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from scipy.stats import shapiro

In [3]:
DATA_PATH = "tsm_data.json"

if os.path.exists(DATA_PATH):
    
    with open(DATA_PATH) as f:
        tsm_hist = pd.read_json(DATA_PATH)
else:
    tsm = yf.Ticker("TSM")
    tsm_hist = tsm.history(period="max")

    tsm_hist.to_json(DATA_PATH)

In [4]:
tsm_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1997-10-09 00:00:00-04:00,2.869037,3.334833,2.869037,3.213321,10201979,0.0,0.0
1997-10-10 00:00:00-04:00,3.564356,3.577858,3.233574,3.361836,10669148,0.0,0.0
1997-10-13 00:00:00-04:00,3.368587,3.368587,3.274078,3.287579,3044363,0.0,0.0
1997-10-14 00:00:00-04:00,3.260575,3.267325,3.064805,3.152564,2549907,0.0,0.0
1997-10-15 00:00:00-04:00,2.956795,3.071557,2.950045,3.064806,3167153,0.0,0.0
...,...,...,...,...,...,...,...
2024-04-09 00:00:00-04:00,146.259995,148.169998,142.949997,145.399994,18488000,0.0,0.0
2024-04-10 00:00:00-04:00,146.630005,148.429993,145.259995,146.220001,18861300,0.0,0.0
2024-04-11 00:00:00-04:00,147.199997,147.559998,144.130005,147.199997,11818800,0.0,0.0
2024-04-12 00:00:00-04:00,145.000000,146.509995,142.149994,142.520004,11981400,0.0,0.0
2024-04-15 00:00:00-04:00,145.020004,145.479996,139.880005,140.139999,13411400,0.0,0.0